In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('C:/Users/MSI/Desktop/IndabaX 2022/GDS challenge/Training-Dataset.csv')

In [3]:
train.head()

,Identifier,Age,Height,Level of studies,Voice type,accent,Hair color,glasses,Body type,Tattoos,Gender,PK,food,JobInvolvement,WorkLifeBalance,jailexp
0,0,21,191.41,1,mid range,East Coast City Dialects,Missing,No,mesomorph,No,M,No,Pizza,8711,8711,1089
1,1,**??,194.91,------->?,deep,Southern American,white/gray,No,mesomorph,?,NB,No,Pizza,VeryHigh,4734,?
2,2,------->?,170.39,0,high pitched,Midwestern American,black,No,mesomorph,No,M,No,?,VeryHigh,7252,907
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,19,187.54,3,deep,East Coast City Dialects,white/gray,No,ectomorph,Yes,M,No,Pizaa,VeryHigh,5080,635

In [4]:
train.columns

Index(['Identifier', 'Age', 'Height', 'Level of studies', 'Voice type',
       'accent', 'Hair color', 'glasses', 'Body type', 'Tattoos', 'Gender',
       'PK', 'food', 'JobInvolvement', 'WorkLifeBalance', 'jailexp'],
      dtype='object')

In [5]:
train.describe()

,Identifier,Age,Height,Level of studies,Voice type,accent,Hair color,glasses,Body type,Tattoos,Gender,PK,food,JobInvolvement,WorkLifeBalance,jailexp
count,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474
unique,1334,46,1207,15,7,16,10,6,7,7,8,6,9,381,958,736
top,------->?,24,?,4,deep,Midwestern American,blond,Yes,mesomorph,No,M,Yes,Burger,VeryHigh,great,?
freq,40,84,39,244,655,267,377,712,565,673,596,802,662,578,205,195

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Identifier        1474 non-null   object
 1   Age               1474 non-null   object
 2   Height            1474 non-null   object
 3   Level of studies  1474 non-null   object
 4   Voice type        1474 non-null   object
 5   accent            1474 non-null   object
 6   Hair color        1474 non-null   object
 7   glasses           1474 non-null   object
 8   Body type         1474 non-null   object
 9   Tattoos           1474 non-null   object
 10  Gender            1474 non-null   object
 11  PK                1474 non-null   object
 12  food              1474 non-null   object
 13  JobInvolvement    1474 non-null   object
 14  WorkLifeBalance   1474 non-null   object
 15  jailexp           1474 non-null   object
dtypes: object(16)
memory usage: 187.6+ KB

In [7]:
for i in list(train.columns) :
    train[i].replace('?',np.nan,inplace=True)
    train[i].replace('------->?',np.nan,inplace=True)
    train[i].replace('Missing',np.nan,inplace=True)
    train[i].replace('**??',np.nan,inplace=True)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Identifier        1330 non-null   object
 1   Age               1343 non-null   object
 2   Height            1321 non-null   object
 3   Level of studies  1328 non-null   object
 4   Voice type        1316 non-null   object
 5   accent            1334 non-null   object
 6   Hair color        1336 non-null   object
 7   glasses           1315 non-null   object
 8   Body type         1315 non-null   object
 9   Tattoos           1332 non-null   object
 10  Gender            1338 non-null   object
 11  PK                1332 non-null   object
 12  food              1300 non-null   object
 13  JobInvolvement    1474 non-null   object
 14  WorkLifeBalance   1474 non-null   object
 15  jailexp           732 non-null    object
dtypes: object(16)
memory usage: 187.6+ KB

In [9]:
col = list(train.columns)

In [10]:
col

['Identifier',
 'Age',
 'Height',
 'Level of studies',
 'Voice type',
 'accent',
 'Hair color',
 'glasses',
 'Body type',
 'Tattoos',
 'Gender',
 'PK',
 'food',
 'JobInvolvement',
 'WorkLifeBalance',
 'jailexp']

Removing *Burger from Worklifebalance

In [11]:
train["WorkLifeBalance"].replace('*Burger',np.nan,inplace=True)

In [12]:
train['Tattoos'].value_counts()

No     673
Yes    658
Yas      1
Name: Tattoos, dtype: int64

In [13]:
train["Tattoos"].replace('Yas','Yes',inplace=True)

In [14]:
train['Gender'].value_counts()

M       596
NB      391
F       350
Male      1
Name: Gender, dtype: int64

In [15]:
train["Gender"].replace('Male','M',inplace=True)

In [16]:
train['food'].value_counts()

Burger       662
Pizza        275
Hot Dogs     250
Apple Pie    112
Pizaa          1
Name: food, dtype: int64

In [17]:
train["food"].replace('Pizaa','Pizza',inplace=True)

In [18]:
train['WorkLifeBalance'].value_counts()

great    205
Bad      166
Good     148
7358       1
9391       1
        ...
4566       1
3646       1
3941       1
7064       1
3977       1
Name: WorkLifeBalance, Length: 957, dtype: int64

In [19]:
col = pd.DataFrame(train['WorkLifeBalance'])

In [20]:
col.value_counts()

WorkLifeBalance
great              205
Bad                166
Good               148
7960                 1
7889                 1
                  ...
5802                 1
5808                 1
5819                 1
5832                 1
6920                 1
Length: 957, dtype: int64

In [21]:
col.replace('great',np.nan,inplace=True)
col.replace('Bad',np.nan,inplace=True)
col.replace('Good',np.nan,inplace=True)

In [22]:
col.dropna(inplace=True)

In [23]:
col.WorkLifeBalance = col.WorkLifeBalance.astype('int')

In [24]:
max = col.max()

In [25]:
max[0]

9957

In [26]:
train["WorkLifeBalance"].replace('great',str(max[0]),inplace=True)

In [27]:
train["WorkLifeBalance"].replace('Bad',str(col.min()[0]),inplace=True)

In [28]:
col.mean()[0]

6829.536687631027

In [29]:
train["WorkLifeBalance"].replace('Good',str(int(col.mean()[0])),inplace=True)

In [30]:
train["WorkLifeBalance"].value_counts()

9957    206
3503    167
6829    148
5157      1
6757      1
       ...
4566      1
3646      1
3941      1
7064      1
3977      1
Name: WorkLifeBalance, Length: 955, dtype: int64

In [31]:
col = pd.DataFrame(train['JobInvolvement'])

In [32]:
col.value_counts()

JobInvolvement
VeryHigh          578
High              205
Low               166
Medium            148
9143                1
                 ...
8333                1
8329                1
8326                1
8319                1
8731                1
Length: 381, dtype: int64

In [33]:
col.replace('VeryHigh',np.nan,inplace=True)
col.replace('High',np.nan,inplace=True)
col.replace('Medium',np.nan,inplace=True)
col.replace('Low',np.nan,inplace=True)

In [34]:
col.dropna(inplace=True)

In [35]:
col.JobInvolvement = col.JobInvolvement.astype('int')

In [36]:
train["JobInvolvement"].replace('VeryHigh',str(col.max()[0]),inplace=True)
train["JobInvolvement"].replace('Low',str(col.min()[0]),inplace=True)
train["JobInvolvement"].replace('Medium',str(int(col.mean()[0])),inplace=True)
train["JobInvolvement"].replace('High',str((int(col.mean()[0]) + col.max()[0])//2),inplace=True)

In [37]:
train["Level of studies"].value_counts()

4       244
8       173
7       170
6       158
5       149
1       117
3       111
2       108
0        96
422       1
1000      1
Name: Level of studies, dtype: int64

In [38]:
train.drop('Identifier',1,inplace=True)

In [39]:
num_feature = ['Age','Height','WorkLifeBalance','JobInvolvement','jailexp','Level of studies']

In [40]:
cat_feature = [i for i in list(train.columns) if i not in num_feature]

In [41]:
cat_feature

['Voice type',
 'accent',
 'Hair color',
 'glasses',
 'Body type',
 'Tattoos',
 'Gender',
 'PK',
 'food']

In [42]:
age = pd.DataFrame(train['Age'])
age.dropna(inplace=True)
age['Age'] = age['Age'].astype('float')
m = int(age.mean()[0])
train['Age'].replace(np.nan,m,inplace=True)
train['Age']= train['Age'].astype('float')

In [43]:
df = pd.DataFrame(train['Height'])
df.dropna(inplace=True)
df['Height'] = df['Height'].astype('float')
m = int(df.mean()[0])
train['Height'].replace(np.nan,m,inplace=True)
train['Height']= train['Height'].astype('float')

In [44]:
df = pd.DataFrame(train['Level of studies'])
df.dropna(inplace=True)
df['Level of studies'] = df['Level of studies'].astype('float')
m = int(df.mean()[0])
train['Level of studies'].replace(np.nan,m,inplace=True)
train['Level of studies']= train['Level of studies'].astype('float')

In [45]:
df = pd.DataFrame(train['JobInvolvement'])
df.dropna(inplace=True)
df['JobInvolvement'] = df['JobInvolvement'].astype('float')
m = int(df.mean()[0])
train['JobInvolvement'].replace(np.nan,m,inplace=True)
train['JobInvolvement']= train['JobInvolvement'].astype('float')

In [46]:
df = pd.DataFrame(train['WorkLifeBalance'])
df.dropna(inplace=True)
df['WorkLifeBalance'] = df['WorkLifeBalance'].astype('float')
m = int(df.mean()[0])
train['WorkLifeBalance'].replace(np.nan,m,inplace=True)
train['WorkLifeBalance']= train['WorkLifeBalance'].astype('float')

In [47]:
df = pd.DataFrame(train['jailexp'])
df.dropna(inplace=True)
df['jailexp'] = df['jailexp'].astype('float')
m = int(df.mean()[0])
train['jailexp'].replace(np.nan,m,inplace=True)
train['jailexp']= train['jailexp'].astype('float')

In [48]:
#remplacer missing value  "nan" dans les variables categoriques par l élement le plus frequent dans chaque colonnes
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
df1 = pd.DataFrame(imputer.fit_transform(train[cat_feature]),columns=train[cat_feature].columns)

In [ ]:
df1.isna().sum()

In [ ]:
df=pd.concat([train[num_feature],df1],1)
df.head()

In [ ]:
df.dtypes