In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv('C:/Users/MSI/Desktop/IndabaX 2022/GDS challenge/Training-Dataset.csv')

In [3]:
train.head()

,Identifier,Age,Height,Level of studies,Voice type,accent,Hair color,glasses,Body type,Tattoos,Gender,PK,food,JobInvolvement,WorkLifeBalance,jailexp
0,0,21,191.41,1,mid range,East Coast City Dialects,Missing,No,mesomorph,No,M,No,Pizza,8711,8711,1089
1,1,**??,194.91,------->?,deep,Southern American,white/gray,No,mesomorph,?,NB,No,Pizza,VeryHigh,4734,?
2,2,------->?,170.39,0,high pitched,Midwestern American,black,No,mesomorph,No,M,No,?,VeryHigh,7252,907
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,19,187.54,3,deep,East Coast City Dialects,white/gray,No,ectomorph,Yes,M,No,Pizaa,VeryHigh,5080,635

In [4]:
train.columns

Index(['Identifier', 'Age', 'Height', 'Level of studies', 'Voice type',
       'accent', 'Hair color', 'glasses', 'Body type', 'Tattoos', 'Gender',
       'PK', 'food', 'JobInvolvement', 'WorkLifeBalance', 'jailexp'],
      dtype='object')

In [5]:
train.describe()

,Identifier,Age,Height,Level of studies,Voice type,accent,Hair color,glasses,Body type,Tattoos,Gender,PK,food,JobInvolvement,WorkLifeBalance,jailexp
count,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474,1474
unique,1334,46,1207,15,7,16,10,6,7,7,8,6,9,381,958,736
top,------->?,24,?,4,deep,Midwestern American,blond,Yes,mesomorph,No,M,Yes,Burger,VeryHigh,great,?
freq,40,84,39,244,655,267,377,712,565,673,596,802,662,578,205,195

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Identifier        1474 non-null   object
 1   Age               1474 non-null   object
 2   Height            1474 non-null   object
 3   Level of studies  1474 non-null   object
 4   Voice type        1474 non-null   object
 5   accent            1474 non-null   object
 6   Hair color        1474 non-null   object
 7   glasses           1474 non-null   object
 8   Body type         1474 non-null   object
 9   Tattoos           1474 non-null   object
 10  Gender            1474 non-null   object
 11  PK                1474 non-null   object
 12  food              1474 non-null   object
 13  JobInvolvement    1474 non-null   object
 14  WorkLifeBalance   1474 non-null   object
 15  jailexp           1474 non-null   object
dtypes: object(16)
memory usage: 187.6+ KB

In [7]:
for i in list(train.columns) :
    train[i].replace('?',np.nan,inplace=True)
    train[i].replace('------->?',np.nan,inplace=True)
    train[i].replace('Missing',np.nan,inplace=True)
    train[i].replace('**??',np.nan,inplace=True)

In [8]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Identifier        1330 non-null   object
 1   Age               1343 non-null   object
 2   Height            1321 non-null   object
 3   Level of studies  1328 non-null   object
 4   Voice type        1316 non-null   object
 5   accent            1334 non-null   object
 6   Hair color        1336 non-null   object
 7   glasses           1315 non-null   object
 8   Body type         1315 non-null   object
 9   Tattoos           1332 non-null   object
 10  Gender            1338 non-null   object
 11  PK                1332 non-null   object
 12  food              1300 non-null   object
 13  JobInvolvement    1474 non-null   object
 14  WorkLifeBalance   1474 non-null   object
 15  jailexp           732 non-null    object
dtypes: object(16)
memory usage: 187.6+ KB

In [ ]:
col = list(train.columns)

In [ ]:
col

Removing *Burger from Worklifebalance

In [ ]:
train["WorkLifeBalance"].replace('*Burger',np.nan,inplace=True)

In [ ]:
train['Tattoos'].value_counts()

In [ ]:
train["Tattoos"].replace('Yas','Yes',inplace=True)

In [ ]:
train['Gender'].value_counts()

In [ ]:
train["Gender"].replace('Male','M',inplace=True)

In [ ]:
train['food'].value_counts()

In [ ]:
train["food"].replace('Pizaa','Pizza',inplace=True)

In [ ]:
train['WorkLifeBalance'].value_counts()

In [ ]:
col = pd.DataFrame(train['WorkLifeBalance'])

In [ ]:
col.value_counts()

In [ ]:
col.replace('great',np.nan,inplace=True)
col.replace('Bad',np.nan,inplace=True)
col.replace('Good',np.nan,inplace=True)

In [ ]:
col.dropna(inplace=True)

In [ ]:
col.WorkLifeBalance = col.WorkLifeBalance.astype('int')

In [ ]:
max = col.max()

In [ ]:
max[0]

In [ ]:
train["WorkLifeBalance"].replace('great',str(max[0]),inplace=True)

In [ ]:
train["WorkLifeBalance"].replace('Bad',str(col.min()[0]),inplace=True)

In [ ]:
col.mean()[0]

In [ ]:
train["WorkLifeBalance"].replace('Good',str(int(col.mean()[0])),inplace=True)

In [ ]:
train["WorkLifeBalance"].value_counts()

In [ ]:
col = pd.DataFrame(train['JobInvolvement'])

In [ ]:
col.value_counts()

In [ ]:
col.replace('VeryHigh',np.nan,inplace=True)
col.replace('High',np.nan,inplace=True)
col.replace('Medium',np.nan,inplace=True)
col.replace('Low',np.nan,inplace=True)

In [ ]:
col.dropna(inplace=True)

In [ ]:
col.JobInvolvement = col.JobInvolvement.astype('int')

In [ ]:
train["JobInvolvement"].replace('VeryHigh',str(col.max()[0]),inplace=True)
train["JobInvolvement"].replace('Low',str(col.min()[0]),inplace=True)
train["JobInvolvement"].replace('Medium',str(int(col.mean()[0])),inplace=True)
train["JobInvolvement"].replace('High',str((int(col.mean()[0]) + col.max()[0])//2),inplace=True)

In [ ]:
train["WorkLifeBalance"].value_counts()